#passionOne{
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#jockey{
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#actor{
  font-family: "Actor", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#inder{
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-style: normal;
}